<%- include("../includes/header.ejs", {title: "Update " + account[0].email}); %>

<h1>Update <%= account.email%></h1>
<form action="/account/update" method="get">
    <input type="hidden" id="account_id" name="account_id" value="<%= account.account_id %>">
    email: <input id="email" name="email" type="text" value="<%= account.email%>"/>
    <br />
    <br />
    first_name: <input id="first_name" name="first_name" type="text" value="<%= account.first_name%>"/>
    <br />
    <br />
    last_name: <input id="last_name" name="last_name" type="text" value="<%= account.last_name%>"/>
    <br />
    <br />

</form>

<%- include("../includes/footer.ejs"); %>

</html>