<%- include("../includes/header.ejs", {title:"ACcounts - " + result[0].email}); %>
    <h1>Accounts</h1>
    <ul>
        <li>First name: <%= result[0].first_name%></li>
        <B />
        <B />
        <li>last name: <%= result[0].last_name %></li>
        <B />
        <B />
        <li>email: <%= result[0].email %></li>

    </ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>