<style>
    div.container {
        width: 100%;
        border: 1px solid gray;
    }
    h1 {color: darkorange}
    body  {background-color: yellow}
    header, footer {
        padding: 1em;
        color: blue;
        background-color: red;
        clear: left;
        text-align: center;
    }

    nav {
        float: left;
        max-width: 160px;
        margin: 0;
        padding: 1em;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
    }

    nav ul a {
        text-decoration: none;
    }

    article {
        margin-left: 170px;
        border-left: 1px solid gray;
        padding: 1em;
        overflow: hidden;
    }
</style>
</body>
<div class=""container">
<header>
    <h1>Don't forget this is Blake Browns page</h1>
</header>
</div>
</html>