<%- include("../includes/header.ejs", {title:"Skills - " + result[0].skill_name}); %>
    <h1>Skills</h1>
    <ul>
        <li>Skill Name: <%= result[0].skill_name %></li>
        <B />
        <B />
        <li>Description: <%= result[0].description%></li>
        <B />
        <B />


        </ul>

<a href="/skill/all"><< back</a>

<%- include("../includes/footer.ejs"); %>